<form action="/author/addAuthor" method="POST">
    <label for="name"></label>
    <input type="text" id="name" name="name" placeholder="Enter authors name">
    <label for="address"></label>
    <input type="text" id="address" name="address" placeholder="Enter authors Adress">
    <label for="email"></label>
    <input type="email" id="email" name="email" placeholder="Enter authors Email">
    <label for="contact"></label>
    <input type="text" id="contact" name="contact" placeholder="Enter authors contact no">
    <label for="dob"></label>
    <input type="date" id="dob" name="dob" placeholder="Enter authors Birth Date">
    <input type="submit" value="Submit">
    <input type="button" value="Cancel" href="/author">
</form>