@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

@import "./filepondStyle.css";
@import "./searchFormStyle.css";
@import "./formStyle.css";
@import "./bookCardsStyle.css";

:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 500;
  /* font-size: 15px; */
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  max-width: 85%;
  margin: auto;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

.main {
  margin-top: 8rem;
}

/* navbar css start */
.navbar-brand {
  font-size: 1.8rem;
  letter-spacing: 8px;
  font-weight: 700;
}

#navbarDropdown {
  font-size: 1rem;
}
/* navbar css end */

/* table css start */
.table {
  font-size: 1.1rem;
  margin-top: 1.3rem;
  margin-bottom: 100px;
}

.table .table-btn {
  margin: 0;
  padding: 0 5px;
  font-size: 1.1rem;
}
/* table css end */

/* footer css starts */
.footer {
  line-height: 45px;
  background-color: #343a40;
  color: #ffffff;
  font-size: 1.3rem;
}
/* footer css ends */
